<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.awe.mapper.EventMapper">
    <select id="loadEventInfoByGender" resultType="EventInfoDO">
        select * from event_info where gender=#{gender} and del_flag = '0'
    </select>
    <select id="getCurrentBiggestEventId" parameterType="int" resultType="String">
        select max(distinct event_id) from event_info
        where mod(event_id,2) = #{flag}
    </select>
    <select id="loadMyChatList" parameterType="String" resultType="ChatListDO">
        select
        initiator_id as initiatorId,
        target_id as targetId,
        reply_flag as replyFlag,
        update_time as updateTime
        from heart_match
        where target_id = #{eventId} or initiator_id = #{eventId}
    </select>
    <insert id="insertEventInfo"  parameterType="EventInfoDO">
        INSERT
        INTO event_info(
        event_id                                    -- 参加者唯一番号
        , real_name                                 -- 真实姓名
        , gender                                    -- 性别
        , height                                    -- 身高
        , birthday                                  -- 出生年月
        , final_education                           -- 最终学历
        , birthplace                                -- 籍贯
        , residence                                 -- 现住城市
        , `visaType`                                -- 签证类型
        , occupation                                -- 职业
        , `annualIncome`                            -- 年收入
        , `maritalStatus`                           -- 婚姻状况
        , `wechatNum`                               -- 微信
        , `phoneNum`                                -- 手机号
        , private_flag                              -- 是否保密
        , avatar_id                                 -- 头像id
        , `selfIntroduction`                        -- 自我介绍
        , `requireAgeFrom`                          -- 择偶要求-年龄-from
        , `requireAgeTo`                            -- 择偶要求-年龄-to
        , `requireAnnualIncome`                     -- 择偶要求-最低年收入
        , `requireFinalEducation`                   -- 择偶要求-最低学历
        , `requireHeightFrom`                       -- 择偶要求-身高-from
        , `requireHeightTo`                         -- 择偶要求-身高-to
        , `requireMaritalStatus`                    -- 择偶要求-婚姻状态
        , `requireNuisance`                         -- 择偶要求-比较介意的地方
        , create_by                                 -- 创建者
        , create_time                               -- 创建时间
        , update_by                                 -- 更新者
        , update_time                               -- 更新时间
        )
        VALUES (
        #{eventId}                                   -- 参加者唯一番号
        , #{realName}                               -- 真实姓名
        , #{gender}                                   -- 性别
        , #{height}                                   -- 身高
        , #{birthday}                                 -- 出生年月
        , #{finalEducation}                          -- 最终学历
        , #{birthplace}                               -- 籍贯
        , #{residence}                                -- 现住城市
        , #{visaType}                                 -- 签证类型
        , #{occupation}                               -- 职业
        , #{annualIncome}                             -- 年收入
        , #{maritalStatus}                            -- 婚姻状况
        , #{wechatNum}                                -- 微信
        , #{phoneNum }                                -- 手机号
        , #{privateFlag}                              -- 是否保密
        , #{avatarId}                                 -- 头像id
        , #{selfIntroduction}                         -- 自我介绍
        , #{requireAgeFrom}                           -- 择偶要求-年龄-from
        , #{requireAgeTo}                             -- 择偶要求-年龄-to
        , #{requireAnnualIncome}                      -- 择偶要求-最低年收入
        , #{requireFinalEducation}                    -- 择偶要求-最低学历
        , #{requireHeightFrom}                        -- 择偶要求-身高-from
        , #{requireHeightTo}                          -- 择偶要求-身高-to
        , #{requireMaritalStatus}                     -- 择偶要求-婚姻状态
        , #{requireNuisance}                          -- 择偶要求-比较介意的地方
        , #{createBy}                                 -- 创建者
        , #{createTime}                               -- 创建时间
        , #{updateBy}                                 -- 更新者
        , #{updateTime}                               -- 更新时间
        )
    </insert>
    <select id="getMyEventInfo" parameterType="String" resultType="EventInfoDO">
        select *
        from event_info
        where event_id= #{eventId}
    </select>
    <select id="loadReplyInfo" parameterType="String" resultType="ReplyDeDO">
        select
        hm.initiator_id as  initiatorId,
        hm.target_id as targetId,
        hm.message as message,
        hm.reply as reply,
        ep.avatar_id as avatarId,
        ep.real_name as realName,
        ep.gender as gender
        from heart_match hm
        left join event_info ep on hm.target_id=ep.event_id
        where hm.initiator_id=#{event_id}
    </select>

    <insert id="insertWhisper" parameterType="String" >
        insert into heart_match (initiator_id,target_id) value (#{eventId},#{targetId})
    </insert>
    <update id="eventInfoUpdate" parameterType="EventInfoDO">
        UPDATE event_info
        SET
        real_name = #{realName}                                 -- 真实姓名
        , gender = #{gender}                                    -- 性别
        , height = #{height}                                    -- 身高
        , birthday = #{birthday}                                -- 出生年月
        , final_education = #{finalEducation}                   -- 最终学历
        , birthplace = #{birthplace}                            -- 籍贯
        , residence = #{residence}                              -- 现住城市
        , `visaType` = #{visaType}                              -- 签证类型
        , occupation = #{occupation}                            -- 职业
        , `annualIncome` = #{annualIncome}                      -- 年收入
        , `maritalStatus` = #{maritalStatus}                    -- 婚姻状况
        , `wechatNum` = #{wechatNum}                            -- 微信
        , `phoneNum` = #{phoneNum}                              -- 手机号
        , private_flag = #{privateFlag}                         -- 是否保密
        , avatar_id = #{avatarId}                               -- 头像id
        , `selfIntroduction` = #{selfIntroduction}              -- 自我介绍
        , `requireAgeFrom` = #{requireAgeFrom}                  -- 择偶要求-年龄-from
        , `requireAgeTo` = #{requireAgeTo}                      -- 择偶要求-年龄-to
        , `requireAnnualIncome` = #{requireAnnualIncome}        -- 择偶要求-最低年收入
        , `requireFinalEducation` = #{requireFinalEducation}    -- 择偶要求-最低学历
        , `requireHeightFrom` = #{requireHeightFrom}            -- 择偶要求-身高-from
        , `requireHeightTo` = #{requireHeightTo}                -- 择偶要求-身高-to
        , `requireMaritalStatus` = #{requireMaritalStatus}      -- 择偶要求-婚姻状态
        , `requireNuisance` = #{requireNuisance}                -- 择偶要求-比较介意的地方
        , update_by = #{updateBy}                               -- 更新者
        , update_time = #{updateTime}                           -- 更新时间
        WHERE
        event_id = #{eventId}                                   -- 参加者唯一番号
    </update>
    <update id="updateReplyOnly" parameterType="String">
        update heart_match set reply_flag = #{replyFlag} , update_time = NOW()
        where initiator_id = #{initiatorId} and target_id = #{targetId}
    </update>

    <select id="selectPersonalEventInfoByEventId" resultType="EventInfoDO">
        SELECT
        event_id
        , real_name as realName
        , gender
        , height
        , birthday
        , final_education as finalEducation
        , birthplace
        , residence
        , `visaType`
        , occupation
        , `annualIncome`
        , `maritalStatus`
        , `wechatNum`
        , `phoneNum`
        , private_flag as privateFlag
        , avatar_id as avatarId
        , `selfIntroduction`
        , `requireAgeFrom`
        , `requireAgeTo`
        , `requireAnnualIncome`
        , `requireFinalEducation`
        , `requireHeightFrom`
        , `requireHeightTo`
        , `requireMaritalStatus`
        , create_by as createBy
        , create_time as createTime
        , update_by as updateBy
        , update_time as updateTime
        FROM
            event_info
        WHERE
        event_id = #{eventId}
    </select>
</mapper>